{% extends 'base.html' %}

{% block form %}
<form id="form">
    <label>Text to summarise: 
      <textarea name="textbox" rows='10' cols='50'></textarea>
    </label>
    <input type="submit" value="Summarise">
</form>
{% endblock %}

{% block content %}
<span>
  <span id='summary'></span>
  <span id='highlighted'></span>
</span>
{% endblock %}

{% block script %}
  <script>
    function predicate(x) {return x > 0.5}

    function addSubmit(ev) {
      ev.preventDefault();
      var request = new XMLHttpRequest();
      request.addEventListener('load', addShow);
      request.open('POST', {{ url_for('_summarise_textbox')|tojson }});
      request.send(new FormData(this));
    }

    function addShow() {
      var data = JSON.parse(this.responseText);
      var summary = document.getElementById('summary');
      var highlighted = document.getElementById('highlighted');

      n_original_sentences = data.text.length;
      n_in_summary = data.scores.filter(predicate).length;
      summary.innerHTML = `<b>Cutdown ${n_original_sentences} sentences into ${n_in_summary}.</b>`

      summary.innerHTML += '<br><h3>In short: </h3>';
      summary.innerHTML += '<ul>';
      highlighted.innerHTML = '<h3>Full text: </h3>';

      var i;
      for (i=0; i < data.text.length; i++){

        sentence = data.text[i];
        score = data.scores[i];
        console.log(sentence)
        console.log(score)
        console.log()

        if (score > 0.5) {summary.innerHTML += `<li> ${sentence} </li>`}

        lightness = 50 + 50*(1-score)
        highlighted.innerHTML += `<span style="color: hsl(0, 100%, ${lightness}%)"> ${sentence} </span>`
      }

      summary.innerHTML += '</ul>'

    }

    var form = document.getElementById('form');
    form.addEventListener('submit', addSubmit);

  </script>
{% endblock %}